.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navbar {
  height: 92vh;
}

.toolbar{
  z-index: 5;
}

.logo-text{
  padding-top: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.menu-button .menu {
  color: black;
  padding-right: 30px;
  z-index: 3;
}

.logo {
  width: 50px;
  height: auto;
  padding-left: 20px;
}

.menu-itens {
  margin-top: 5px;
  text-align: left;
}

.media-toolbar {
  position: absolute;
  bottom: 0;
}

.sidenav {
  height: 100%;
  z-index: 4;
}

.toolbar-row {
  height: 320px;
  display: table-cell;
  vertical-align: top;
  padding-top: 30px;
}

.password-field {
  width: 100%;
  text-align: left;
}

.password-field {
  padding-top: 30px;
}

.forgotten-password {
  color: white;
  font-size: 10px;
  text-decoration: underline;
}

.example-button-row button,
.example-button-row a {
  margin-top: 10px;
  margin-left: 8px;
}