<article id="post-38" class="post-38 page type-page status-publish hentry">
  <div class="entry-content clearfix">
    <div
      data-elementor-type="post"
      data-elementor-id="38"
      class="elementor elementor-38 elementor-bc-flex-widget"
      data-elementor-settings="[]"
    >
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section
            class="elementor-element elementor-element-2b9e646 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="2b9e646"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-d7bf635 elementor-column elementor-col-100 elementor-top-column"
                  data-id="d7bf635"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-080c08b elementor-widget elementor-widget-text-editor"
                        data-id="080c08b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <p>
                              Nesta página, disponibilizaremos algumas fotos de
                              nossos pré-natais. Caso tenha tirado alguma foto,
                              por favor nos mande, nosso e-mail é
                              organizacao@serenatadenatal.org.
                            </p>
                            <p>Abraços fraternos!!</p>
                            <p>Equipe da Organização da SN&nbsp;</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-element elementor-element-c36fc28 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="c36fc28"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-5591e16 elementor-column elementor-col-100 elementor-top-column"
                  data-id="5591e16"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-840bde6 elementor-widget elementor-widget-text-editor"
                        data-id="840bde6"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <h3>2017</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-element elementor-element-c3d9771 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="c3d9771"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-ce73713 elementor-column elementor-col-33 elementor-top-column"
                  data-id="ce73713"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-897c81e elementor-widget elementor-widget-image"
                        data-id="897c81e"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="734"
                              src="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?fit=978%2C734"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?w=2048            2048w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?resize=300%2C225   300w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?resize=768%2C576   768w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?resize=1024%2C768 1024w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?w=1956            1956w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1454"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/22459138_1712625772134265_931560449463765183_o/"
                              data-orig-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?fit=2048%2C1536"
                              data-orig-size="2048,1536"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="22459138_1712625772134265_931560449463765183_o"
                              data-image-description=""
                              data-medium-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?fit=300%2C225"
                              data-large-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459138_1712625772134265_931560449463765183_o.jpg?fit=978%2C734"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-51f440b elementor-column elementor-col-33 elementor-top-column"
                  data-id="51f440b"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-652f1e4 elementor-widget elementor-widget-image"
                        data-id="652f1e4"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="734"
                              src="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?fit=978%2C734"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?w=2048            2048w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?resize=300%2C225   300w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?resize=768%2C576   768w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?resize=1024%2C768 1024w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?w=1956            1956w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1465"
                              data-permalink="http://serenatadenatal.org/acervo-sn/fotos-pre-natais/22424657_1712625338800975_370337939812123176_o-2/"
                              data-orig-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?fit=2048%2C1536"
                              data-orig-size="2048,1536"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="22424657_1712625338800975_370337939812123176_o"
                              data-image-description=""
                              data-medium-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?fit=300%2C225"
                              data-large-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/22424657_1712625338800975_370337939812123176_o.jpg?fit=978%2C734"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-8ad5663 elementor-column elementor-col-33 elementor-top-column"
                  data-id="8ad5663"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-97f2056 elementor-widget elementor-widget-image"
                        data-id="97f2056"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="734"
                              src="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?fit=978%2C734"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?w=1000           1000w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?resize=300%2C225  300w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?resize=768%2C576  768w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1467"
                              data-permalink="http://serenatadenatal.org/acervo-sn/fotos-pre-natais/img-20171015-wa0044/"
                              data-orig-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?fit=1000%2C750"
                              data-orig-size="1000,750"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="IMG-20171015-WA0044"
                              data-image-description=""
                              data-medium-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?fit=300%2C225"
                              data-large-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2013/07/IMG-20171015-WA0044.jpg?fit=978%2C734"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-element elementor-element-8089145 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="8089145"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-d527b24 elementor-column elementor-col-33 elementor-top-column"
                  data-id="d527b24"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-acef6f4 elementor-widget elementor-widget-image"
                        data-id="acef6f4"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="550"
                              src="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?fit=978%2C550"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?w=1280            1280w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?resize=300%2C169   300w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?resize=768%2C432   768w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?resize=1024%2C576 1024w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1458"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/22496233_1712626985467477_5143317370281968699_o/"
                              data-orig-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?fit=1280%2C720"
                              data-orig-size="1280,720"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="22496233_1712626985467477_5143317370281968699_o"
                              data-image-description=""
                              data-medium-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?fit=300%2C169"
                              data-large-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22496233_1712626985467477_5143317370281968699_o.jpg?fit=978%2C550"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-f7e4a3a elementor-column elementor-col-33 elementor-top-column"
                  data-id="f7e4a3a"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-20c9fed elementor-widget elementor-widget-image"
                        data-id="20c9fed"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="550"
                              src="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?fit=978%2C550"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?w=1280            1280w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?resize=300%2C169   300w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?resize=768%2C432   768w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?resize=1024%2C576 1024w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1455"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/22459358_1712627502134092_8906124609866824663_o/"
                              data-orig-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?fit=1280%2C720"
                              data-orig-size="1280,720"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="22459358_1712627502134092_8906124609866824663_o"
                              data-image-description=""
                              data-medium-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?fit=300%2C169"
                              data-large-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22459358_1712627502134092_8906124609866824663_o.jpg?fit=978%2C550"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-318e47e elementor-column elementor-col-33 elementor-top-column"
                  data-id="318e47e"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-c15fea0 elementor-widget elementor-widget-image"
                        data-id="c15fea0"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="720"
                              height="405"
                              src="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?fit=720%2C405"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?w=720            720w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?resize=300%2C169 300w
                              "
                              sizes="(max-width: 720px) 100vw, 720px"
                              data-attachment-id="1449"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/whatsapp-image-2017-10-14-at-21-46-40/"
                              data-orig-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?fit=720%2C405"
                              data-orig-size="720,405"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="WhatsApp Image 2017-10-14 at 21.46.40"
                              data-image-description=""
                              data-medium-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?fit=300%2C169"
                              data-large-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-21.46.40.jpeg?fit=720%2C405"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-element elementor-element-dbdcfe3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="dbdcfe3"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-2dcf209 elementor-column elementor-col-33 elementor-top-column"
                  data-id="2dcf209"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-4c292b4 elementor-widget elementor-widget-image"
                        data-id="4c292b4"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="550"
                              src="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?fit=978%2C550"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?w=1280            1280w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?resize=300%2C169   300w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?resize=768%2C432   768w,
                                https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?resize=1024%2C576 1024w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1452"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/22426194_1712628975467278_4760344274480766133_o/"
                              data-orig-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?fit=1280%2C720"
                              data-orig-size="1280,720"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="22426194_1712628975467278_4760344274480766133_o"
                              data-image-description=""
                              data-medium-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?fit=300%2C169"
                              data-large-file="https://i1.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/22426194_1712628975467278_4760344274480766133_o.jpg?fit=978%2C550"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-3361982 elementor-column elementor-col-33 elementor-top-column"
                  data-id="3361982"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-fede2e6 elementor-widget elementor-widget-image"
                        data-id="fede2e6"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="550"
                              src="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?fit=978%2C550"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?w=1032            1032w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?resize=300%2C169   300w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?resize=768%2C432   768w,
                                https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?resize=1024%2C576 1024w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1189"
                              data-permalink="http://serenatadenatal.org/apresentacoes-2016/img_7239/"
                              data-orig-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?fit=1032%2C581"
                              data-orig-size="1032,581"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="img_7239"
                              data-image-description=""
                              data-medium-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?fit=300%2C169"
                              data-large-file="https://i2.wp.com/serenatadenatal.org/wp-content/uploads/2016/10/IMG_7239.jpg?fit=978%2C550"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-eff7682 elementor-column elementor-col-33 elementor-top-column"
                  data-id="eff7682"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-9975a99 elementor-widget elementor-widget-image"
                        data-id="9975a99"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img
                              width="978"
                              height="550"
                              src="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?fit=978%2C550"
                              class="attachment-large size-large"
                              alt=""
                              srcset="
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?w=1280            1280w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?resize=300%2C169   300w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?resize=768%2C432   768w,
                                https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?resize=1024%2C576 1024w
                              "
                              sizes="(max-width: 978px) 100vw, 978px"
                              data-attachment-id="1450"
                              data-permalink="http://serenatadenatal.org/2017/10/15/primeiro-pre-natal-do-ano-2/whatsapp-image-2017-10-14-at-15-16-57/"
                              data-orig-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?fit=1280%2C720"
                              data-orig-size="1280,720"
                              data-comments-opened="0"
                              data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}'
                              data-image-title="WhatsApp Image 2017-10-14 at 15.16.57"
                              data-image-description=""
                              data-medium-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?fit=300%2C169"
                              data-large-file="https://i0.wp.com/serenatadenatal.org/wp-content/uploads/2017/10/WhatsApp-Image-2017-10-14-at-15.16.57.jpeg?fit=978%2C550"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-element elementor-element-866d4df elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="866d4df"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-element elementor-element-29c46b58 elementor-column       elementor-col-100 elementor-top-column"
                  data-id="29c46b58"
                  data-element_type="column"
                >
                  <div
                    class="elementor-column-wrap  elementor-element-populated"
                  >
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-7547e19a elementor-widget       elementor-widget-text-editor"
                        data-id="7547e19a"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>
