<!-- Optional content you want to persist between sections -->
<div class="content">
  <!-- <svg class="tri tri-50-br" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="100,100 100,0 0, 0"></polygon>
  </svg> -->

  <div class="container">
    <svg viewBox="0 0 500 500">
      <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z"></path>
    </svg>
    <p>Serenata de Natal</p>
    <!-- Em 2019 cante conosco -->
  </div>
</div>

<section class="one"></section>

<!-- <section class="two">
  <div class="wrapper"></div>
</section>

<section class="three">
  <div class="wrapper"></div>
</section>

<section class="four">
  <div class="wrapper"></div>
</section> -->